Terminology

From this [thread ](https://mailarchive.ietf.org/arch/msg/tsvwg/EDoWsI92tTLYjoFJ7ihI40Yt_FA/)

"ECN Mark" => "ECN Codepoint" or "CE mark", depending on context

"TOS byte" => "legacy TOS byte"

From Greg White:

```
On terminology, I noticed the statement in Section 3: “Network devices can change the ECN bits in the IP header.”

This should be “Network devices can change the ECN codepoint in the IP header.” and it would be worth pointing to RFC3168 and RFC9331 regarding the allowed transitions that are expected to occur.

I’ve noticed that even some current vendor documentation refers to the obsolete RFC2481 definition of the “ECT bit” and the “CE bit” as opposed to the “ECN Field” and its codepoints.
```